.chat-container {
  max-width: 500px !important;
}
.chat-box-top-head {
  max-width: 500px;
  display: block;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 3;
}
form#sendMessageForm {
  max-width: 500px;
  position: relative;
}
.typeing {
  height: 48px;
  padding-right: 45px;
  width: 100%;
}
.sent-btn {
  margin-right: 4px;
  margin-top: 0px !important;
}
ul#messagesList {
  height: calc(100vh - 116px);
  overflow: auto;
}
.chat {
  margin-top: 0 !important;
}
.chat-bubble {
  white-space: break-spaces;
}
